<h1 mat-dialog-title>
  Create user
</h1>

<div mat-dialog-content>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()"
    class="example-form">
    <mat-card-content>

      <mat-form-field class="col-md-6">
        <input matInput formControlName="username" [(ngModel)]="username"
          placeholder="Username">
        <mat-error *ngIf="hasError('username', 'required')">
          Username is required</mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <input matInput formControlName="password" type="password"
          [(ngModel)]="password"
          placeholder="Password">
        <mat-error *ngIf="hasError('password', 'required')">
          Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">
          Password must be more than 6 characters.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="col-md-6">
        <input matInput formControlName="firstName" [(ngModel)]="firstName"
          placeholder="First name">
        <mat-error *ngIf="hasError('firstName', 'required')">
          First name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <input matInput formControlName="lastName" [(ngModel)]="lastName"
          placeholder="Last name">
        <mat-error *ngIf="hasError('lastName', 'required')">
          Last name is required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <br>
    <div mat-dialog-actions class="pull-right" style="padding: 10px;">
      <button mat-flat-button color="accent"
        (click)="onDismiss()">
        Close
      </button>
      &nbsp;
      <button mat-flat-button type="submit"
        [disabled]="!createUserForm.valid || isLoading" color="primary">
        <mat-icon *ngIf="isLoading">
          <mat-spinner
            color="accent"
            diameter="20">
          </mat-spinner>
        </mat-icon>
        Create
      </button>
    </div>
    <br>
  </form>
</div>
