<mat-toolbar class="app-header" color="primary">
  <mat-toolbar-row>
    <span>Easy Lunch</span>
    <span class="example-spacer"></span>
    <span class="nav-tool-items">
      <a *ngIf="!isLogin" mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a *ngIf="!isLogin" mat-button mat-raised-button routerLink="register"
        routerLinkActive="active">Register</a>
      <a *ngIf="isLogin" mat-button mat-raised-button (click)="signOut()">Sign Out</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
