/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Kanit', sans-serif;
}
body {
  height: 100%;
}
body {
  margin: 0;
}
span {
  font-family: 'Kanit', sans-serif;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
